body {
    background-color: rgb(239, 198, 255);
}
footer {
    background-color: white;
    color: rgb(238, 139, 255);
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    height:2rem;
}